@import "./main.css";

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    min-width: 400px;
}

.white{
    color: var(--ebony-clay);
}

.dark{
    color: #FFFFFF;
}

.header__theme{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.inner__white{
    background-color: var(--background-white);
}
