@import "./main.css";

.search__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    border-radius: 15px;
    margin-top: 2rem;
    box-sizing: border-box;
    padding: .5rem;
    box-shadow: 0 16px 30px -10px rgb(70 96 187 / 20%);
    max-width: 1000px;
    min-width: 400px;
}

.white{
    background-color: var(--background-light);
    color: var(--ebony-clay);
}

.dark{
    background-color: var(--background-cloud-burst);
    color: #FFFFFF;
}

.header__theme___conteiner{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.search__container::before{
    content: "";
    background-image: url("../assets/magnifying-glass.png");
    background-size: 40px;
    height: 40px;
    width: 40px;
}

.theme__icon{
    width: 25px;
    height: 25px;
}

.search__input{
    border: none;
    width: 60%;
    height: 60%;
    padding-left: .5rem;
}

.search__button{
    background-color: rgb(0, 121, 255);
    color: #FFFFFF;
    height: 90%;
    border: none;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 12px;
    border-radius: 10px;
    min-width: 85px;
    letter-spacing: 1px;
    text-align: center;
}
